<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/note.css">
</head>
<body>
    <main>
        <div class="center">


            <!-- ノート表示域 -->
            <div class="display_note_container">
                <div class="title_box">
                    <p>0000年00月00日更新</p>
                    <h2 class="title">タイトル</h2>
                    <p>
                        ハッシュタグ；
                        <a href="">laravel</a>
                        <a href="">テスト</a>
                    </p>
                </div>
                <div class="heading1">見出し1</div>
                <div class="heading2">見出し2</div>
                <div class="heading3">見出し3</div>

                <div class="text">
                    テキスト１
                </div>

                <div class="important_text">
                    重要な文章
                </div>

                <div class="quote_text">
                    テキスト２<br>テキスト２<br>テキスト２
                </div>

                <div class="code_text">
                    テキスト２<br>テキスト２<br>テキスト２
                </div>

                <div class="link">
                    <a href="#">リンク</a>
                </div>


                <div class="image">
                    <img src="../../public/image/2019120400080_1.jpg" alt="">
                </div>

                <div class="image_litle">
                    <img src="../../public/image/2019120400080_1.jpg" alt="">
                </div>
                <div class="image_litle">
                    <img src="../../public/image/2019120400080_1.jpg" alt="">
                </div>
                <div class="image_litle">
                    <img src="../../public/image/2019120400080_1.jpg" alt="">
                </div>
                <div class="image_litle">
                    <img src="../../public/image/2019120400080_1.jpg" alt="">
                </div>


                <div class="heading1">見出し1</div>
                <div class="text">テキストテキストテキスト</div>


            </div> <!-- end display_note_container -->


            <!-- コメント表示域 -->
            <div class="comments_container">
                <h2>コメント</h2>
                <div class="comment_box">
                    <div class="head">
                        <p><img>taroさん</p>
                        <p>0000/00/00 00:00:00</p>
                    </div>
                    <div class="body">
                        コメント<br>
                        コメント<br>
                        コメント<br>
                    </div>
                </div>
                <form class="comment_input_box" action="" method="">
                    <h3><img>コメントを投稿する</h3>
                    <label>
                        <p>ニックネーム</p>
                        <input type="text" name="nickname">
                    </label>
                    <br>
                    <label>
                        <p>コメント</p>
                        <textarea name="comment" cols="30" rows="10"></textarea>
                    </label>
                    <button class="btn">投稿</button>
                </form>
            </div> <!-- end comment_container -->


        </div>
    </main>

</body>
</html>
