//-----------------------------------------
// ベースのスタイル
//-----------------------------------------

// タイトルbox
.title_box{
    margin-bottom: 2em;

    .title{
        min-height: 1.4em;
        line-height: 1.4em;
        font-size: 2em;
        font-weight: bold;
        margin: 0;
    }
}



@mixin basic_style($color) {

    // 見出し1
    .heading1{
        font-size: 1.5em;
        font-weight: bold;
        border-left: .4em solid $color;
        padding-left: .5em;
        line-height: 1.6em;
        margin-top: 2em;
        margin-bottom: 1em;;
        background-color: lighten($color, 30%);
        strong{ color: $color;}
    }

    // 見出し2
    .heading2{
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 2em;
        margin-bottom: 1em;;
        border-bottom: solid 1px #ccc;
        strong{ color: $color;}
    }

    // 見出し3
    .heading3{
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 2em;
        margin-bottom: 1em;;
        strong{ color: $color;}
    }

    // 文章
    .normal_text{
        margin-bottom: 1em;
        strong{ color: $color;}
    }

    // 重要な文章
    .important_text{
        margin: 2em 1em;
        padding: 1rem;

        border : 2px solid red;
        border-radius: 2px;
        strong{ color: red;}
    }

    //強調する文章
    .emphasized_text{
        margin: 2em 1em;
        padding: 1rem;
        background-color: lighten($color, 30%);
        strong{ color: red;}
    }

    // 引用文
    .quote_text{
        margin: 2em 1em;
        padding: 1rem;
        border-left: .4em solid #aaa;
        strong{ color: red;}
    }

    // コード文
    .code_text{
        margin: 2em 1em;
        padding: 1rem;
        background-color: #ccc;
    }

    // リンク
    .link{
        margin: 2em 1em;
        a{
            font-weight: bold;
            color: $color;
            text-decoration: underline;
        }

    }

    // 大きい画像
    .image{
        margin: 2em 0;
        img{
            width: 100%;
        }
        .title{
            margin-top: .5em;
            font-size: .8em;
            color: #aaa;
        }
    }
    // 小さい画像
    .image_litle{
        display: inline-block;
        width: 210px;
        margin: 2em 0;

        img{
            width: 100%;
        }
        .title{
            width: 100%;
            margin-top: .5em;
            font-size: .8em;
            color: #aaa;
        }
    }


} //end@mixin basic_style($color)





//-----------------------------------------
// pdfページ用スタイル
//-----------------------------------------

@mixin pdf_style($color) {

    .heading1{
        font-size: 1.5em;
        font-weight: bold;
        border-left: 2em solid $color;
    }

    .image{
        margin-bottom: 1rem;
        img{
            width: 280px;

        }
        .title{
            margin-top: .5em;
            text-align: left;
            font-size: .8em;
            color: #aaa;
        }
    }

    .image_litle{
        margin-right: 10px;
        margin-bottom: 1rem;
        display: inline-block;

        img{
            width: 140px;
        }
        .title{
            margin-top: .5em;
            text-align: left;
            font-size: .8em;
            color: #aaa;
        }
    }


}








//-----------------------------------------
// ページカラーの選択と表示域のスタイル
//-----------------------------------------


// Colors (選択可能な色)
$theme-colors: (
    blue: #3490dc,
    indigo: #6574cd,
    purple: #9561e2,
    pink: #f66d9b,
    red: #e3342f,
    orange: #f6993f,
    yellow: #ffed4a,
    green: #38c172,
    teal: #4dc0b5,
    cyan: #6cb2eb
);


// 繰り返し
@each $key, $color in $theme-colors
{
    // <!-- ノート表示域 -->
    .display_note_container_#{$key}{
        max-width: 100%;
        margin-bottom: 5rem;
        box-sizing: border-box;

        @include basic_style($color);

    }

    // <!-- TCPDF印刷用 -->
    .print_note_container_#{$key}{
        max-width: 100%;
        margin-bottom: 5rem;
        box-sizing: border-box;

        @include basic_style($color);
        @include print_style($color);
    }


}





