/* プレビュー枠内の表示 */
.preview_note_container {
    height: 80vh;
    overflow-y: scroll;
    padding: 1rem;
    border: solid 3px #bbb;
    border-radius: 5px;
}


.preview_note_container .hidden {
    display: none;
}


/* テキストボックス操作の枠表示 (edit>note.blade.php)*/
.preview_note_container .edit_textbox {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

/* 編集中テキストボックスの枠表示 */
.preview_note_container .editing_textbox {
    padding: 1rem;
    margin-bottom: 1em;
    border: solid 1px #dc3545;
    border-radius: 10px;
    box-shadow: 0 2px 5px #dc3545;
}
